[submodule "external/MarineGym"]
	path = external/MarineGym
	url = https://github.com/Juhyunn0/MarineGym.git
[submodule "external/FoundationStereo"]
	path = external/FoundationStereo
	url = https://github.com/NVlabs/FoundationStereo.git
	shallow = true
